<main class="calc">
  <div class="calc-page">
    <div class="calc-page-title">Калькулятор стоимости</div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="calc-page-content">


      <div class="calc-wrapper">
        <div class="calc-wrapper-changer">

          <!-- Переключатель категорий -->
          <div class="select-title">
            <div class="select-title-buttons">
              <button
                type="button"
                class="abtn"
                [class.active]="form.value.category === 'metiz'"
                (click)="setCategory('metiz')">
                Метизы
              </button>
              <button
                type="button"
                class="abtn"
                [class.active]="form.value.category === 'detail'"
                (click)="setCategory('detail')">
                Детали
              </button>
<!--              <button-->
<!--                type="button"-->
<!--                class="abtn"-->
<!--                [class.active]="form.value.category === 'construct'"-->
<!--                (click)="setCategory('construct')">-->
<!--                Конструкции-->
<!--              </button>-->
            </div>
            <div class="select-title-reset" (click)="resetForm()">Сбросить</div>
          </div>

          <!-- Вид -->
            <div class="select-option">
                <div class="select-option-line">
                    <div class="window">
                        <div class="window-name"><p>Вид</p></div>
                        <select class="window-select" formControlName="species">
                            <option [ngValue]="null">Выберите вид</option>
                            @if (form.value.category === 'metiz') {
                                @for (s of species; track s) {
                                    <option [value]="s.value">{{ s.label }}</option>
                                }
                            } @else {
                                @for (c of details; track c) {
                                    <option>{{ c }}</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>



              @if (form.value.category === 'metiz') {
                  <app-select-option
                          [formGroup]="form"
                          [option]="(availableStateStandards$ | async)!"
                          controlName="stateStandard"
                          selectName="ГОСТ"
                  ></app-select-option>

                  <app-select-option
                          [formGroup]="form"
                          [option]="(availableDiameters$ | async)!"
                          controlName="diameter"
                          selectName="Диаметр"
                  ></app-select-option>

                  @if (form.value.species === 'bolt' || form.value.species === 'hairpin') {
                      <app-select-option
                              [formGroup]="form"
                              [option]="(availableLengths$ | async)!"
                              controlName="length"
                              selectName="Длина"
                      ></app-select-option>
                  }

                  @if (form.value.species === 'hairpin') {
                      <app-select-option
                              [formGroup]="form"
                              [option]="(availableThreadLengths$ | async)!"
                              controlName="threadLength"
                              selectName="Длина резьбы"
                      ></app-select-option>
                  }
              }


          @if (form.value.category === 'detail') {
            <!-- Серия -->
            <app-select-option
              [formGroup]="form"
              [option] = series
              controlName="series"
              selectName="Серия"
            ></app-select-option>

            <!-- Подвид -->
            <app-select-option
              [formGroup]="form"
              [option] = subspecies
              controlName="subspecies"
              selectName="Подвид"
            ></app-select-option>

            <!-- Тип исполнения -->
            <app-select-option
              [formGroup]="form"
              [option] = execution
              controlName="execution"
              selectName="Тип исполнения"
            ></app-select-option>

          }

          <!-- Марка стали -->
            <app-select-option
                    [formGroup]="form"
                    [option]="(availableSteelGrades$ | async)!"
                    controlName="steelGrade"
                    selectName="Сталь"
            ></app-select-option>


          <!-- Количество -->
          <div class="select-option">
            <div class="select-option-line">
              <div class="window">
                <div class="window-name"><p>Количество</p></div>
                <input type="number" formControlName="quantity" class="window-input" />
              </div>
            </div>
          </div>

          <!-- Доставка -->
          <div class="select-bottom">
            <div class="select-bottom-shipping">
              <div class="select-bottom-shipping-title">Доставка</div>
              <div class="select-bottom-shipping-buttons">
                <button
                  type="button"
                  class="yes"
                  [class.active]="form.value.delivery"
                  (click)="form.patchValue({ delivery: true })">
                  Да
                </button>
                <button
                  type="button"
                  class="no"
                  [class.active]="!form.value.delivery"
                  (click)="form.patchValue({ delivery: false })">
                  Нет
                </button>
              </div>
            </div>
          </div>
        </div>
      <div class="calc-wrapper-result">

      <!-- Стоимость -->
      <div class="select-bottom-price">
        <div class="window total">
          <div class="window-icon"><p>₽</p></div>
          <div class="window-name">
            <p>Итого:</p>
            <strong></strong>
          </div>
        </div>


      </div>
      </div>

      </div>

      <!-- Комментарий -->
      <div class="select-option">
        <div class="comment">
          <div class="comment-title">Комментарий</div>
          <textarea formControlName="comment" rows="3" class="comment-text"></textarea>
        </div>
      </div>
      <div class="select-title">
        <div class="select-title-buttons">

          <button type="submit" class="abtn">Отправить</button>

        </div>
      </div>
    </form>

  </div>
</main>
