<div class="titles">
    Контакты
  </div>
<div class="main__wrapper">
  <div class="main__wrapper__content">

  <div class="main__wrapper__content__description">
      <p>
          ООО "ПКФ МетСервис-А"
      </p>                
              ИНН/КПП 6679128322/667901001   
          <br>
          <br>
          Юридический адрес:
          <br>
          623380, Свердловская область, г. Полевской, мк. Черемушки 18-3
          <br>
          Фактический адрес:
          <br>
          620024, Свердловская обл., Екатеринбург г., пер. Саранинский, д. 9,  оф 210
          <br>
          Почтовый адрес:
          <br>
          620024, Свердловская обл., Екатеринбург г., пер. Саранинский, д. 9,  оф 210
          <br>
          <br>
          <br>
          
          Наши телефоны:
          <br>
          <br>
          <div class="block__wrapper">
            <div class="block__wrapper__line">
              <a href="tel:+73432887972">+7 (343) 288 79 72</a>
            </div>
            <div class="block__wrapper__line">
              <a href="tel:+73432958586">+7 (343) 295 85 86</a>
            </div>
          </div>
          

          <br>
          Наша электронная почта:
          <br>
          <br>
          <a href="mailto:a131010@mail.ru">a131010@mail.ru</a>
          <br>
          <br>

          Более подробную информацию Вам предоставят наши опытные менеджеры!
  </div>
  </div>
  </div>

