<div class="titles">
    О компании
  </div>
<div class="main__wrapper">
  <div class="main__wrapper__content">

  <div class="main__wrapper__content__description">
      <p>
          ООО "ПКФ МетСервис-А"
      </p>    
      <p>
          Компания  ООО "ПКФ Метсервис-А», имея парк производственного оборудования, изготавливает и поставляет продукцию по ГОСТ, ТУ, ОСТ, ISO, DIN, производит более 10 000 наименований изделий из металлов и сплавов: фундаментные болты и металлические элементы фундаментов (ростверки, наголовники), фермы для промышленных и гражданских зданий, металлические лестницы, площадки, ограждения, шарниры, крепежи, закладные детали, штуцеры и другие метизы любых размеров и форм из различных металлов и сплавов (ст. 3, 09Г2С, 20, 35, 40Х и др., «нержавейка», латунь, бронза).
          ООО "ПКФ Метсервис-А» выполняет термообработку, термодиффузию, оцинковку, антикоррозийные покрытия: цинол, цинотан.
          Гибочное оборудование позволяет изготавливать из листового металла сложные изделия.
          На сварочном участке соединют отдельные изделия в единую деталь, что позволяет производить технически сложную продукцию.
          На токарном участке производят продукцию с большой точностью, что обеспечивает использование изделий в высокоточных конструкциях.
      </p>
          
          <br>
          Так же выполняем термообработку, термодиффузию, оцинковку, антикоррозийные покрытия: ЦИНОЛ, ЦИНОТАН.

Гибочное оборудование позволяет изготавливать нам из листового металла сложные изделия, сварочный участок позволяет соединять отдельные изделия в единую деталь, что позволяет производить технически сложные изделия.
  <br>
  Индивидуальный подход к каждому заказчику, формируем гибкие цены.
  <br>
  <br>
  
  <img src="../../../assets/data/images/photos/equipment_07.jpg" style="height: 150px;">
  Токарный участок производит с большой точностью продукцию, что обеспечивает использование изделий в высокоточных конструкциях. 
  Антикоррозийное покрытие изделий позволяет применять их в очень агрессивных средах и различных погодных условиях.
  <br>
  <br>

  <br>
  <br>
  <img src="../../../assets/data/images/photos/termoobrabotka.jpeg" style="height: 250px;">

  Термическая обработка  дает возможность эксплуатировать детали (изделия) в очень высоконагруженых механизмах и конструкциях не увеличивая их массу и размер, термообработка придает изделиям дополнительную механическую прочность.
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  ПРЕССА О НАС
  <br>
  <br>
  <div style="display: flex;">
    <img src="../../../assets/data/images/press/delov-russia.png" style="height: 550px;">
    <img src="../../../assets/data/images/press/delov-russia1.png" style="height: 550px;">
    <img src="../../../assets/data/images/press/delov-russia2.png" style="height: 550px;">
</div>
<br>
<br>
<br>
<br>

  
  </div>
  </div>
  </div>