:host {
  background-image: url('/assets/images/background/main.jpg');
}
$gray: #999999;
$gray-light: #dadada;
$orange: #FF5C00;
$blue: #2755ff;
$violet: #7042fa;
$max-width: 1900px;
$width: 90vw;
$size-title: 3em;

$color-light-xl: #FFFFFF;
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;

.main {
  &__welding {
    height: 90vh;
    background-image: url('/assets/images/photos/svarka_5.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    color: $gray-light;

    &__wrapper {
      width: $width;
      max-width: $max-width;
      margin: 0 auto;
      height: 100%;

      &__content {
        height: 100%;
        display: flex;
        padding-top: 20vh;
        flex-direction: column;
        width: 800px;

        &__title {
          font-size: $size-title;
          margin-bottom: 3vh;
        }

        &__block {
          font-size: 1.5em;
        }
      }
    }
  }

  &__services {
    background-color: $blue;
    height: 34vw;

    &__wrapper {
      width: $width;
      max-width: $max-width;
      margin: 0 auto;
      height: 100%;

      &__content {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__equipment {
    background-image: url('/assets/images/photos/equipment_3.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    color: #FFF;
    height: 60vh;

    &__wrapper {
      width: $width;
      max-width: $max-width;
      margin: 0 auto;

    }

  }

  &__products {
    background-color: $orange;
    height: 33vw;

    &__wrapper {
      width: $width;
      max-width: $max-width;
      margin: 0 auto;
      height: 100%;

      &__content {
        height: 100%;
      }
    }

  }

  &__about {
    background-image: url('/assets/images/photos/about_1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    color: #FFF;
    height: 60vh;
    min-height: 500px;

    &__wrapper {
      width: $width;

      max-width: $max-width;
      margin: 0 auto;
    }
  }
}

.text {
  height: 100%;
  display: flex;
  padding-top: 10vh;
  flex-direction: column;
  width: 80vw;

  &__title {
    font-size: $size-title;
    margin-bottom: 3vh;
  }

  &__block {
    font-size: 1.5em;
  }
}
