$gray: #999999;
$orange: #FF5C00;
$size-title: 3em;

$color-light-xl: #FFFFFF;
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;

$tablet: 767px;
$desktop: 1279px;


@mixin h3-mobile {
  font-family: Georgia, sans-serif;
  font-size: 25px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
  font-weight: normal;
}

@mixin h3 {
  font-family: Georgia, sans-serif;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-weight: normal;
}

@mixin h2 {
  font-family: Georgia, sans-serif;
  font-size: 44px;
  line-height: 130%;
  font-weight: normal;
}

@mixin h4 {
  font-family: Georgia, sans-serif;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  font-weight: normal;
}

@mixin h5 {
  font-family: Georgia, sans-serif;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  font-weight: normal;
}

@mixin h5-modal-window {
  font-family: Georgia, sans-serif;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  font-weight: bold;
}

@mixin paragraph-l {
  font-family: Arial;
  font-size: 15px;
  line-height: 160%;
  font-weight: normal;
}

@mixin paragraph-s {
  font-family: Arial;
  font-size: 12px;
  line-height: 150%;
  font-style: italic;
  font-weight: normal;
}

@mixin paragraph-mobile-menu {
  font-family: Arial;
  font-size: 32px;
  line-height: 160%;
  font-weight: normal;
}

@mixin logo-title {
  font-family: Georgia, sans-serif;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  font-weight: normal;
}

@mixin logo-subtitle {
  font-family: Arial;
  font-size: 13px;
  line-height: auto;
  letter-spacing: 0.1em;
  font-weight: normal;
}

@mixin ag {
  font-family: Georgia, sans-serif;
  font-size: 17px;
  letter-spacing: 0.06em;
  font-weight: normal;
}

.toggle {
  &__menu {
      position: absolute;
      height: 100vh;
      width: 0px;
      right: 0;
      top: 0;
      background-color: $color-dark-3xl;
      z-index: 10;
      overflow: hidden;
      margin: 0 auto;
      box-sizing: border-box;

      &__wrap {
          margin: 30px 10px;
          height: 100%;

          ul {
              margin: 0;
              padding: 0;
          }

          &__header {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;

              .logo {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: space-between;
                  height: 60px;
                  cursor: pointer;

                  h1 {
                      margin: 0;
                      margin-block-end: 0;
                      margin-block-start: 0;
                  }

                  &__title {
                      color: $color-primary;
                      @include logo-title;
                  }

                  &__subtitle {
                      color: $color-light-xl;
                      @include logo-subtitle;
                  }
              }

              img {
                  cursor: pointer;
                  flex-grow: 1;
                  height: 26px;
              }
          }

          a {
              text-decoration: none;
          }
      }

      .nav {
          display: flex;
          list-style-type: none;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: calc(100vh - 90px);
          gap: 40px;

          a {
              cursor: pointer;
              text-decoration: none;
              color: $color-dark-s;
              @include paragraph-mobile-menu();

              &:hover {
                  color: $color-light-s;
              }
          }

          .active {
              a {
                  color: $color-light-s;
                  border-bottom: 3px solid $color-primary;
              }
          }

      }


  }
}

@keyframes move-left {
  from {
      right: -320px;
  }

  to {
      right: 0;
  }
}

.transition-toggle-menu {
  width: 320px;
  right: 0px;
  animation-name: move-left;
  animation-duration: 2s;
}

@keyframes move-right {
  from {
      right: 0;
  }

  to {
      right: -320px;
  }
}

.transition-toggle-menu-leave {
  width: 320px;
  right: -320px;
  animation-name: move-right;
  animation-duration: 2s;
}

#btn-toggle {
  z-index: 100;
}

@keyframes rotate {
  from {
      transform: rotate(0deg);
      margin-right: 0px;
  }

  to {
      transform: rotate(90deg);
      margin-right: 30px;
  }
}

@keyframes rotate-leave {
  from {
      transform: rotate(90deg);
      margin-right: 30px;
  }

  to {
      transform: rotate(0deg);
      margin-right: 0px;
  }
}

.rotate-leave {
  animation-name: rotate-leave;
  animation-duration: 2s;
  z-index: 10;
}

.rotate {
  animation-name: rotate;
  animation-duration: 2s;
  z-index: 10;
}

.btn-toggle {
  cursor: pointer;
  display: none;
}

.btn-toggle.rotate-leave {
  transform: rotate(0deg);
  margin-right: 0px;
  z-index: 10;
}

.btn-toggle.rotate {
  z-index: 10;
  transform: rotate(90deg);
  margin-right: 30px;
}


header {
  height: 7vh;
  margin: 0 auto;
  color: $gray;
  background-color: #000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  a {
    text-decoration: none;
    color: $gray;
  }

  a.button:hover {
    color: $orange;
  }

  .header {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
      display: flex;
      align-items: center;

      &__img {
        cursor: pointer;

        img {
          height: 5em;
        }
      }

      &__block {
        display: flex;
        flex-direction: column;
        padding-left: 2em;

        &__name {
          font-size: 2em;
          font-weight: 600;
        }

        &__name>span {
          cursor: pointer;
        }

        &__nav {
          display: flex;
          display: flex;
          font-size: 1em;
          font-weight: 500;

          li {
            cursor: pointer;
            margin-right: 2em;
            list-style-type: none;

            &.active {
              color: #FF5C00;
            }

            &:hover {
              color: $orange;
            }
          }
        }
      }
    }

    &__order {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__tel {
        font-size: 1em;

        span {
          display: block;
        }
      }

      &__btn {
        margin: 0 20px;

        button {
          background-color: #000;
          border-radius: 5px;
          cursor: pointer;
          font-size: 1em;
          font-weight: 600;
          border: 2px solid $gray;
          padding: 1em;
          color: $gray;

          &:hover {
            background-color: $gray;
            color: $orange;
          }
        }
      }
    }
  }
}


@media only screen and (max-width: $desktop) {
  .modal {
      position: absolute;
      overflow-y: scroll;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, .5);
      z-index: 30;

      &__content {
          position: relative;
          background-color: $color-light-s;
          height: 350px;
          width: 630px;
          margin: calc(50vh/2) auto;
          border-radius: 9px;
          border-bottom-left-radius: 9px;
          border-bottom-right-radius: 9px;
          border-top-left-radius: 9px;
          border-top-right-radius: 9px;
          display: flex;

          &__close {
              cursor: pointer;
              position: absolute;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 48px;
              height: 48px;
              border: 2px solid $color-primary;
              box-sizing: border-box;
              border-radius: 100px;
              bottom: 350px;
              left: 621px;
          }

          &__img {
              height: 100%;
              border-bottom-left-radius: 9px;
              border-top-left-radius: 9px;

              img {
                  border-bottom-left-radius: 9px;
                  border-top-left-radius: 9px;
                  height: 350px;
              }
          }

          &__card {
              display: flex;
              flex-direction: column;
              color: #000;
              margin: 10px 9px 0 11px;

              &__title {
                  @include h3;
                  margin-bottom: 10px
              }

              &__poroda {
                  @include h4;
              }

              &__description {
                  font-family: Georgia, sans-serif;
                  font-size: 13px;
                  line-height: 110%;
                  letter-spacing: 0.06em;
                  font-weight: normal;
                  margin: 10px 0;

              }

              &__list {
                  padding-inline-start: 13px;
                  @include h5;

                  li {
                      list-style: disc;
                      margin-bottom: 6px;
                      font-weight: normal;

                      &::marker {
                          height: 3px;
                          color: $color-primary;
                      }

                      span {
                          font-weight: bold;
                      }
                  }
              }
          }
      }
  }
}

@media only screen and (max-width: $tablet) {
  .modal {
      position: absolute;
      overflow: hidden;
      overflow-y: scroll;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, .5);
      z-index: 30;

      &__content {
          position: relative;
          background-color: $color-light-s;
          height: 341px;
          width: 240px;
          margin: calc(50vh/2) auto;
          border-radius: 9px;
          border-bottom-left-radius: 9px;
          border-bottom-right-radius: 9px;
          border-top-left-radius: 9px;
          border-top-right-radius: 9px;
          display: flex;

          &__close {
              cursor: pointer;
              position: absolute;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 48px;
              height: 48px;
              border: 2px solid $color-primary;
              box-sizing: border-box;
              border-radius: 100px;
              bottom: 341px;
              left: 218px;
          }

          &__img {
              display: none;
              height: 100%;
              border-bottom-left-radius: 9px;
              border-top-left-radius: 9px;

              img {
                  border-bottom-left-radius: 9px;
                  border-top-left-radius: 9px;
                  height: 500px;
              }
          }

          &__card {
              display: flex;
              flex-direction: column;
              color: #000;
              margin: 0 auto;
              padding: 10px 10px 0;

              &__title {
                  @include h3;
                  margin-bottom: 10px
              }

              &__poroda {
                  @include h4;
              }

              &__description {
                  margin: 20px 0 24px;
                  @include h5;
                  font-size: 13px;
                  text-align: justify;

              }

              &__list {
                  margin-block-end: 0;
                  margin-block-start: 0;
                  padding-inline-start: 13px;
                  @include h5-modal-window;

                  li {
                      list-style-type: disc;
                      margin-bottom: 6px;
                      font-weight: normal;

                      &::marker {
                          height: 3px;
                          color: $color-primary;
                      }

                      span {
                          font-weight: bold;
                      }
                  }
              }
          }
      }
  }
  .btn-toggle {
    display: block;
  }

}

@media only screen and (max-width: 1150px) {
  header {
    height: 7em;
  }
  .header {
    &__order {
      display: flex;
      flex-direction: column-reverse;
      gap: 10px;
    }
  }

}

@media only screen and (max-width: 1030px) {
  .header__logo__block__nav {
          li {
            margin-right: 1em;
            color: #F1CDB3;
          }
  }
}
