<div class="header-wrapper">
<div class="header-left">

<a href="/"><img
  src="/assets/images/logo.svg"
  alt="logo"
  class="header-image"
></a>

<nav class="header-menu">

  <h1 class="h4 mt6">МетСервис-А</h1>

  <ul class="header-menu-list">
    @for (menuItem of menuItems; track menuItem) {
      <li>
        <a
          class="menu-item"
          [routerLink]="[menuItem.link]"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: menuItem.exact }"
        >
          <svg [icon]="menuItem.icon" class="svg-icon"></svg>
          <span class="no-wrap">{{ menuItem.label }}</span>
        </a>
      </li>
    }
  </ul>

</nav>
</div>

<div class="header-btn">
  @if (username) {
    <span class="header-username">{{username}}</span>
    <a class="btn-custom to-header-btn" [routerLink]="['/account']">Профиль</a>
    <a class="btn-custom to-header-btn" (click)="onLogout()">Выйти</a>
  } @else {
    <a class="btn-custom to-header-btn" [routerLink]="['/login']">Войти</a>
  }

        <i
                class="bi bi-minecart-loaded header-cart"
                [routerLink]="['/calc/cart']"
        >
            <div class="header-cart-volume">{{cartItems()}}</div>
        </i>

</div>
</div>

