:host {
  width: 90vw;
  max-width: 1900px;
  margin: 0 auto;
  height: 90px;
}
.header-image {
  height: 100%;
}
.header-left {
  display: flex;
  flex-flow: row;
  gap: 50px;
}
.header-wrapper {
  display: flex;
  flex-flow: row;
  gap: 50px;
  justify-content: space-between;
  margin: 0 30px;

}
.header-username {
  max-width: min-content;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
}
.header-menu {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.header-menu-list {
  display: flex;
  gap: 10px;
  list-style: none;
  justify-items: start;
}
ol, ul {
  padding-left: 0;
}

.menu-item {
  cursor: pointer;
  border: none;
  background: none;
  color: var(--light-color);
  display: grid;
  grid-template-columns: 16px 1fr max-content;
  align-items: center;
  grid-gap: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  width: 100%;
  text-align: left;
  padding: 4px 0;
  border-radius: 2px;
  text-decoration: none;

  &.active,
  &:hover,
  &:focus-visible {
    background: var(--dark-hover-color);
    color: var(--primary-color);
  }
}

.header-btn {
  display: flex;
  width: min-content;
  grid-gap: 6px;
  align-items: center;
}

.to-header-btn {
  width: 140px;
  height: 36px;
  text-decoration: none;
  color: var(--dark-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.header-cart {
  cursor: pointer;
  margin: 0 5px;
  position: relative;
  font-size: 50px;
}

.header-cart-volume {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  position: absolute;
  font-size: 16px;
  font-weight: 600;
  top: 32%;
  left: 25%;
  color: var(--bs-info);
  font-style: normal;
}

