:root {
  --dark-color: #000000;
  --light-color: #FFFFFF;
  --primary-color: #dac1fb;
  --gray-color: #5F646D;
  --dark-hover-color: #161616;
  --light-transparent-color: rgba(255, 255, 255, 0.86);
}

:host{
  .col-xl-2 {
    width: max-content;
  }
  .container-fluid {
    background-color: var(--light-transparent-color);
  }
}