<div class="order__wrapper">
    <ul class="order-header">
            <li class="order-header__column">&#35;</li>
            <li class="order-header__column">ID</li>
            <li class="order-header__column">Клиент</li>
            <li class="order-header__column">Дата</li>
            <li class="order-header__column">Статус</li>
            <li class="order-header__column">Количество</li>
            <li class="order-header__column">Сумма</li>
            <li class="order-header__column">Устройство</li>
            <li class="order-header__column">IP</li>
            <li class="order-header__column">Примечание</li>
    </ul>
    <div class="order-content">
        @for (item of data | async; track item; let i = $index) {
            <div class="order-content-line__wrapper">
                <ul class="order-content-line" (click)="heightTarget($event)" [attr.data-id]="item.id">
                    <li class="order-content-line__item">
                        {{i + 1}}
                    </li>
                    <li class="order-content-line__item">
                        {{item.guestId.slice(28,36)}}
                    </li>
                    <li class="order-content-line__item">
                        <app-popover
                                [mainContent]="item.contact.email"
                                [hoverMessage]="item.contact.name">
                        </app-popover>
                    </li>
                    <li class="order-content-line__item">
                        @let date = item.createdAt | date:'dd.MM.yyyy':'Europe/Moscow';
                        @let time = item.updatedAt | date:'HH:mm':'Europe/Moscow';
                        <app-popover
                                [mainContent]="date?.toString()"
                                [hoverMessage]="time?.toString()">
                        </app-popover>
                    </li>
                    <li class="order-content-line__item">
                        Неизвестно
                    </li>
                    <li class="order-content-line__item text-left">
                        Деталей: {{item.orders.length}}
                    </li>
                    <li class="order-content-line__item">
                        Считаю
                    </li>
                    <li class="order-content-line__item">
                        {{item.device}}
                    </li>
                    <li class="order-content-line__item">
                        {{ item.userMeta.ip }}
                    </li>
                    <li class="order-content-line__item">
                        Не настроено
                    </li>
                </ul>

                <div
                    class="order-content__subcontent"
                    [id]="item.id"
                    [ngClass]="{'subcontent-height': activeCartId === item.id}"
                >
                    <ul class="order-content-subline">
                        <li class="order-content-subline__item">#</li>
                        <li class="order-content-subline__item">#</li>
                        <li class="order-content-subline__item">#</li>
                        <li class="order-content-subline__item">#</li>
                        <li class="order-content-subline__item">#</li>
                        <li class="order-content-subline__item">#</li>
                        <li class="order-content-subline__item">#</li>
                        <li class="order-content-subline__item">#</li>
                        <li class="order-content-subline__item">#</li>
                        <li class="order-content-subline__item">#</li>
                    </ul>
                    @for (order of item.orders; track order.id; let j = $index) {
                        <ul class="order-content-subline">
                            <li class="order-content-subline__item">
                                {{j + 1}}
                            </li>
                            <li class="order-content-subline__item">
                                {{order.species}}
                            </li>
                            <li class="order-content-subline__item">
                                <app-popover
                                        [mainContent]="order.diameter"
                                        [hoverMessage]="order.steelGrade">
                                </app-popover>
                            </li>
                            <li class="order-content-subline__item">
                                {{ order.stateStandard}}
                            </li>
                            <li class="order-content-subline__item">
                                Количество: {{order.quantity}}
                            </li>
                            <li class="order-content-subline__item">
                                {{order.price | currency: 'RUB ' : 'symbol'}}
                            </li>
                            <li class="order-content-subline__item">
                                {{ order.stateStandard}}
                            </li>
                            <li class="order-content-subline__item">
                                Неизвестно
                            </li>
                            <li class="order-content-subline__item">
                                {{order.status}}
                            </li>
                            <li class="order-content-subline__item">
                                Не настроено
                            </li>
                        </ul>
                    }
                </div>
            </div>

        }
    </div>
    <div class="order-footer">

    </div>

</div>
