//variables
$gray: #999999;
$gray-light: #dadada;
$orange: #FF5C00;
$blue: #2755ff;
$violet: #7042fa;

$size-title: 3em;

$max-width: 1920px;

.titles {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin: 20px 0;
}
//product

// .product {
//   padding: 10px;
//   &_img {
//     width: 300px;
//     height: 300px;
//   }
// }

// .button_details {
//   cursor: pointer;
//   width: 100px;
//   height: 40px;
//   &_yellow {
//     background-color: yellow;
//   }
//   &_blue {
//     background-color: rgb(94, 189, 252);
//   }
// }



//main
main {
  width: 90vw;
  margin: 0 auto;
}
.page {
  min-height: calc(100vh - 20vh);
  box-sizing: border-box;
}
//button
.amount-btn {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  width: 20px;
  height: 10px;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-card {
  cursor: pointer;
  height: 40px;
  padding: 8px;
  text-transform: uppercase;
  border: 0;
  transition: all 0.5s;
  border-radius: 3px;
  min-width: 140px;
  &:hover {
    box-shadow: 2px 0px 15px 2px #999999;
    background-color: $orange;
  }
}
//card

.card {
  display: block;
}
.container {
  position: relative;
  padding: 30px;
  width: 360px;
  box-shadow: 1px 1px 10px -5px #000;
  &__signature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
  }
}
.container img {
  border-radius: 5px;
  height: 200px;
  margin: 0 auto;
  background-size: cover;
}
.container a {
  color: black;
  position: absolute;
  top: calc(50% - 2.5em);
  left: calc(50% - 2.5em);
  opacity: .6;
  transition: all 0.8s;
}
.container a:hover {
  transform: scale(1.2);
  opacity: .8;
}
.container {
  overflow: hidden;
}
.card > footer {
  height: 3rem;
}


//products
.page .products {
  display: grid;
  gap: 3rem 1.5rem;
  margin: 4rem auto;
  grid-template-columns: 200px 1fr;
  
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: $max-width;
}

.nav-form {
  position: sticky;
  top: 1rem;
}

.form-control {
  margin-bottom: 1.25rem;
}

.products-container {
  display: grid;
  gap: 2rem 1.5rem;
  grid-template-columns: repeat(3, 1fr);
}
.cards__sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  column-gap: 2rem;
}
#slider {
  margin-top: 50px;
}
.not-found {
  width: 100%;
  margin: 0 auto;
}


//cart

.cart {
  height: 80vh;
  display: flex;
  padding-top: 10vh;
  align-items: flex-start;
  justify-content: center;
  width: 90vw;
  &-empty {
    margin: 0 auto;
    text-align: center;
    h2 {
      margin-bottom: 20px;
    }
  }
  &-items {
    width: 80%;
    display: flex;
    flex-flow: column;

    &_title {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      justify-items: center;
    }
    &_product {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      margin: 20px 0 0;
    }
    &_bottom {
      margin-top: 50px;
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}
.product_item {
  display: block;
}
.product_item.image {
  margin: 0 auto;
  img {
    margin: 0 auto;
    height: 90px;
  }
}
.product_item.price {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product_item.amount {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product_item.full-price {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product_item.delete-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product_item.delete-item > .fa-trash {
  cursor: pointer;
}
.bottom_line {
  display: flex;
  justify-content: space-between;
}
.bottom_total {
  margin-top: 30px;
  display: flex;
  justify-items: end;
}

.cart {
  height: 80vh;
  display: flex;
  padding-top: 10vh;
  align-items: flex-start;
  justify-content: center;
  width: 90vw;
  &-empty {
    margin: 0 auto;
    text-align: center;
    h2 {
      margin-bottom: 20px;
    }
  }
  &-items {
    width: 80%;
    display: flex;
    flex-flow: column;

    &_title {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      justify-items: center;
    }
    &_product {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      margin: 20px 0 0;
    }
    &_bottom {
      margin-top: 50px;
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}
.product_item {
  display: block;
}
.product_item.image {
  margin: 0 auto;
  img {
    margin: 0 auto;
    height: 90px;
  }
}
.product_item.price {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product_item.amount {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product_item.full-price {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product_item.delete-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product_item.delete-item > .fa-trash {
  cursor: pointer;
}
.bottom_line {
  display: flex;
  justify-content: space-between;
}
.bottom_total {
  margin-top: 30px;
  display: flex;
  justify-items: end;
}

.post {
  display: grid;
  box-sizing: border-box;

  gap: 1rem 3rem;
  padding: 2rem 0;
  grid-template-columns: repeat(2, 1fr);
  &__back {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  &__image {
    grid-column-start: 1;
    grid-column-end: 2;
    img {
      height: 400px;
      border-radius: 5px;
    }
  }
  &__direction {
    grid-column-start: 2;
    grid-column-end: 3;

  }
}

.desc {
  box-shadow: 0px 0px 30px -10px #999999;
  padding: 20px;
  h2 {
    letter-spacing: 2px;
    font-size: 2rem;
  }
  &-price {
    color: $orange;
    font-size: 1.25rem;
  }
  &-text {
    text-align: justify;
    margin-bottom: 20px;
  }
}
p {
  &.info {
    text-transform: capitalize;
    width: 300px;
    display: grid;
    grid-template-columns: 150px 1fr;
    margin-bottom: 10px;
  }

}
.counter {
  display: grid;
  width: 140px;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.amount-btn {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  width: 20px;
  height: 10px;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-card {
  cursor: pointer;
  height: 40px;
  padding: 8px;
  text-transform: uppercase;
  border: 0;
  transition: all 0.5s;
  border-radius: 3px;
  min-width: 140px;
  &:hover {
    box-shadow: 2px 0px 15px 2px #999999;
    background-color: $orange;
  }
}