@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

$gray: #999999;
$gray-light: #dadada;
$orange: #FF5C00;
$blue: #2755ff;
$violet: #7042fa;
$max-width: 1400px;
$width: 90vw;
$size-title: 3em;

#tokar {
  background-image: url('../../../assets/data/images/photos/tokar_1.jpeg');
}
#rezka {
  background-image: url('../../../assets/data/images/photos/rezka_1.jpeg');
}
#frezer {
  background-image: url('../../../assets/data/images/photos/frezer_1.jpeg');
}
#gibka {
  background-image: url('../../../assets/data/images/photos/gibka_1.jpeg');
}
#rubka {
  background-image: url('../../../assets/data/images/photos/rubka_1.jpeg');
}
#raspil {
  background-image: url('../../../assets/data/images/photos/raspil_1.jpeg');
}
#valcovka {
  background-image: url('../../../assets/data/images/photos/valcovka_1.jpeg');
}
#svarka {
  background-image: url('../../../assets/data/images/photos/svarka_3.jpeg');
}
#cinkovanie {
  background-image: url('../../../assets/data/images/photos/cinkovanie_1.jpeg');
}
#prod_1 {
  background-image: url('../../../assets/data/images/prod/001.jpg');
}
#prod_2 {
  background-image: url('../../../assets/data/images/prod/002.jpg');
}
#prod_3 {
  background-image: url('../../../assets/data/images/prod/003.jpg');
}
#prod_4 {
  background-image: url('../../../assets/data/images/prod/004.jpg');
}
#prod_5 {
  background-image: url('../../../assets/data/images/prod/005.jpg');
}
#prod_6 {
  background-image: url('../../../assets/data/images/prod/006.jpg');
}
#prod_7 {
  background-image: url('../../../assets/data/images/prod/007.jpg');
}
#prod_8 {
  background-image: url('../../../assets/data/images/prod/008.jpg');
}
#prod_9 {
  background-image: url('../../../assets/data/images/prod/009.jpg');
}


.main {
  &__products {
    background-color: $orange;
    height: 33vw;

    &__wrapper {
      width: $width;
      max-width: $max-width;
      margin: 0 auto;
      height: 100%;

      &__content {
        height: 100%;
        & .carusel__buttons__item:hover {
          background-color: $blue;
        }
      }
    }

  }
}
.swiper-button-prev, .swiper-button-next{
  width: 29px;
  top: 55%;
  margin-top: 0;
  color: #FF5C00;
}
.swiper {
  position: initial !important;
}
.swiper-slide {
  overflow: hidden;
}
.swiper-wrapper {
  width: 1100px !important;
}
.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  // color: #FF5C00 !important;
  background:#FF5C00;
}
.imging {
  height: 250px ;
}
.swiper-pagination {
  bottom: 0 !important;
}
.carusel {
  height: 91%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: space-evenly;
  overflow: hidden;
  color: $gray-light;

  &__title {
    align-self: flex-start;
    font-size: 3vw;
  }

  &__blocks {
    display: flex;
    position: relative;
    width: 1400px;
    // left: -1400px;

    &__items {
      left: 0;
      position: relative;
      display: flex;
      gap: 70px;

      &__item {
        cursor: pointer;
        width: 420px;
        height: 21vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        &__img {
          float: left;
          width: 100%;
          height: 85%;
          // position: relative;

          &__back {
            display: flex;
            align-items: center;
            justify-content: center;
            float: left;
            width: 100%;
            height: 100%;
            // position: absolute;
            overflow: hidden;
            // left: 0;
            // top: 0;
            // background-size: cover !important;
            // background-position: center center;
            img {
              height: 250px;
              width: 400px;
            }
          }
        }

        &__name {
          font-size: 1.6vw;
        }

        &:hover>&__name {
          color: $orange;
        }
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;

    &__item {
      cursor: pointer;
      color: $gray;
      border: 2px solid $gray;
      border-radius: 50px;
      height: 52px;
      width: 52px;
      margin: 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;
      &:hover {
        background-color: $blue;
      }

    }
  }

}


// @keyframes to-left {
//   from {
//     left: -1400px;
//   }

//   to {
//     left: 0;
//   }
// }

// @keyframes to-right {
//   from {
//     left: -1400px;
//   }

//   to {
//     left: -2800px;
//   }
// }

// .transition-right {
//   animation-name: to-right;
//   animation-duration: 2s;
// }

// .transition-left {
//   animation-name: to-left;
//   animation-duration: 2s;
// }


