
  <swiper
  [slidesPerView]="3"
  [spaceBetween]="30"
  [navigation]="true"
  [pagination]="{ clickable: true }"
  [scrollbar]="{ draggable: true }"
>
  <ng-template swiperSlide>
    <img class="imging" src="../../../assets/data/images/photos/cinkovanie_1.jpeg" alt="" srcset="">
  </ng-template>
  <ng-template swiperSlide>
    <img class="imging" src="../../../assets/data/images/photos/cinol.jpeg" alt="" srcset="">
  </ng-template>
  <ng-template swiperSlide>
    <img class="imging" src="../../../assets/data/images/photos/cinotan.jpeg" alt="" srcset="">
  </ng-template>
  <ng-template swiperSlide>
    <img class="imging" src="../../../assets/data/images/photos/frezer_1.jpeg" alt="" srcset="">
  </ng-template>
  <ng-template swiperSlide>
    <img class="imging" src="../../../assets/data/images/photos/gibka_1.jpeg" alt="" srcset="">
  </ng-template>
  <ng-template swiperSlide>
    <img class="imging" src="../../../assets/data/images/photos/raspil_1.jpeg" alt="" srcset="">
  </ng-template>
  <ng-template swiperSlide>
    <img class="imging" src="../../../assets/data/images/photos/rezka_2.jpeg" alt="" srcset="">
  </ng-template>
  <ng-template swiperSlide>
    <img class="imging" src="../../../assets/data/images/photos/rubka_1.jpeg" alt="" srcset="">
  </ng-template>
  <ng-template swiperSlide>
    <img class="imging" src="../../../assets/data/images/photos/svarka_3.jpeg" alt="" srcset="">
  </ng-template>
  <ng-template swiperSlide>
    <img class="imging" src="../../../assets/data/images/photos/termoobrabotka.jpeg" alt="" srcset="">
  </ng-template>
  <ng-template swiperSlide>
    <img class="imging" src="../../../assets/data/images/photos/tokar_1.jpeg" alt="" srcset="">
  </ng-template>
  <ng-template swiperSlide>
    <img class="imging" src="../../../assets/data/images/photos/valcovka_1.jpeg" alt="" srcset="">
  </ng-template>
</swiper>
 