<div class="footer-wrapper">
  <img
    src="/assets/images/logo.svg"
    alt="logo"
    class=""
  >
  <div class="footer-block">
    <h3 class="h4">
      МетСервис-А
    </h3>
    <p class="block--company_text">
      Изготовление металлоконструкций для различных отраслей. Гарантируем высокое качество, точность и долговечность в каждой детали.
    </p>
  </div>
  <div class="footer-block">
    <h3 class="h6 footer-block_title">
      Контактная информация
    </h3>
    <div class="mt6" >
      <strong class="phones mb4">
        <a class="phone" href="tel:+79920026260">+7 (992) 002-62-60</a>
        <a class="phone" href="tel:+79634435665">+7 (963) 443-56-65</a>
      </strong>
      Екатеринбург, переулок Саранинский, 9, офис 210
      <br>
      Время работы: Пн-Пт 08:00-17:00
      <br>
      <a class="email mt6" href="mailto:{{email}}">{{ email }}</a>
    </div>
  </div>
</div>
<div class="footer-bottom">
  © 2025г. ООО ПКФ «МСА». Вся информация о услугах и ценах, предоставленная на сайте, носит исключительно информационный характер и ни при каких условиях не является публичной офертой.
</div>
