:host {
  display: flex;
  flex-flow: column;
  justify-content: end;
  height: auto;
  width: 90vw;
  max-width: 1900px;
  margin: 30px auto 20px auto;
  //position: absolute;
  //bottom: 0;
  //left: 0;
  //right: 0;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: calc(100px + 5vw) 1fr 1fr;
  align-items: start;
}

.footer-bottom {
  font-weight: 400;
  font-size: 12px;
}

.email {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 18px;
  display: block;
}

.block--company_text {
  margin-top: 1rem;
  width: 300px;
  font-weight: 400;
  font-size: 14px;
}

.phone {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

.phones {
  display: flex;
  flex-flow: column;
  font-size: 16px;
}

.footer-block {
  font-size: 14px;
}

.footer-block_title {
  font-weight: 400;
  font-size: 20px;
}
