$gray-light: #dadada;
$color-dark-2xl: #444444;

:host {
  display: flex;
  flex-direction: column;
  background: $gray-light;
  color: $color-dark-2xl;
  line-height: 1.7;
}

.press-images {
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 4px 20px rgba(0,0,0,0.05);
  img {
    width: 30%;
  }
}

.contacts-wrapper {
  display: flex;
  flex-direction: column;
  width: 90dvw;
  margin: 5dvw auto;
}
