.custom-table-width .fw-20 {
  width: 20px;
}
.custom-table-width .fw-100 {
  width: 100px;
}
.custom-table-width .fw-130 {
  width: 130px;
}
.custom-table-width .fw-150 {
  width: 150px;
}
.custom-table-width .fw-200 {
  width: 200px;
}
.custom-table-width .fs-075 {
  font-size: 0.75rem;
}
.custom-table-width .fs-080 {
  font-size: 0.8rem;
}
.custom-table-width .fs-090 {
  font-size: 0.9rem;
}