  <swiper
  [slidesPerView]="3"
  [spaceBetween]="30"
  [navigation]="true"
  [pagination]="{ clickable: true }"
  [scrollbar]="{ draggable: true }"
>
  <ng-template swiperSlide>
    <img class="imging" src="../../../assets/data/images/prod/001.jpg" alt="" srcset="">
  </ng-template>
  <ng-template swiperSlide>
    <img class="imging" src="../../../assets/data/images/prod/002.jpg" alt="" srcset="">
  </ng-template>
  <ng-template swiperSlide>
    <img class="imging" src="../../../assets/data/images/prod/003.jpg" alt="" srcset="">
  </ng-template>
  <ng-template swiperSlide>
    <img class="imging" src="../../../assets/data/images/prod/004.jpg" alt="" srcset="">
  </ng-template>
  <ng-template swiperSlide>
    <img class="imging" src="../../../assets/data/images/prod/005.jpg" alt="" srcset="">
  </ng-template>
  <ng-template swiperSlide>
    <img class="imging" src="../../../assets/data/images/prod/006.jpg" alt="" srcset="">
  </ng-template>
  <ng-template swiperSlide>
    <img class="imging" src="../../../assets/data/images/prod/007.jpg" alt="" srcset="">
  </ng-template>
  <ng-template swiperSlide>
    <img class="imging" src="../../../assets/data/images/prod/008.jpg" alt="" srcset="">
  </ng-template>
  <ng-template swiperSlide>
    <img class="imging" src="../../../assets/data/images/prod/009.jpg" alt="" srcset="">
  </ng-template>
</swiper>
 