<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="custom-crop-container">
                <img src="/assets/images/photos/about_1.jpg" class="card-img-top custom-img-card" alt="">
            </div>
            <div class="card-body">
                <h5 class="card-title">Стандарты ГОСТ – ШАЙБЫ</h5>
                <a href="/admin/products/washer" class="btn btn-warning">Перейти к ГОСТам</a>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="custom-crop-container">
                <img src="/assets/images/photos/about_1.jpg" class="card-img-top custom-img-card" alt="">
            </div>
            <div class="card-body">
                <h5 class="card-title">Стандарты ГОСТ – СТАЛЬ</h5>
                <a href="/admin/products/steel" class="btn btn-warning">Перейти к ГОСТам</a>
            </div>
        </div>
    </div>
</div>