<div class="titles">
    Выполняем следующие виды услуг
</div>
<div class="main__wrapper">
    <div class="main__wrapper__content">
        <div class="main__wrapper__content__description">
            <div class="item">
                <div class="item-desc">
                    <div class="item-desc-title">
                        ТОКАРНЫЕ РАБОТЫ
                    </div>
                    <div class="item-desc-desc">
                        Токарные работы - обработки резанием (точением) заготовок из металлов. На токарныхстанках
                        выполняют
                        обточку
                        и расточку цилиндрических, конических и фасонных поверхностей, нарезание резьбы.
                    </div>
                </div>
                <div class="item-img">
                    <img src="../../../assets/data/images/photos/tokar_1.jpeg" style="height: 250px;">
                </div>

            </div>
            <div class="item">
                <div class="item-desc">
                    <div class="item-desc-title">
                        СВЕРЛЕНИЕ
                    </div>
                    <div class="item-desc-desc">
                        Сверление - изготовление цилиндрических отверстий помощью режущих инструментов, называемых сверлами.
                    </div>
                </div>
                <div class="item-img">
                    <img src="../../../assets/data/images/photos/equipment_8.jpeg" style="height: 250px;">
                </div>
            </div>
            <div class="item">
                <div class="item-desc">
                    <div class="item-desc-title">
                        РЕЗКА МЕТАЛЛА
                    </div>
                    <div class="item-desc-desc">
                        Резка - раскрой металла по размерам или чертежам.
                    </div>
                </div>
                <div class="item-img">
                    <img src="../../../assets/data/images/photos/rezka_1.jpeg" style="height: 250px;">
                </div>
            </div>
            <div class="item">
                <div class="item-desc">
                    <div class="item-desc-title">
                        ГИБКА МЕТАЛЛА
                    </div>
                    <div class="item-desc-desc">
                        Гибка - сгибание металла на гибочном оборудовании по заданным углам.
                    </div>
                </div>
                <div class="item-img">
                    <img src="../../../assets/data/images/photos/gibka_2.jpeg" style="height: 250px;">
                </div>
            </div>
            <div class="item">
                <div class="item-desc">
                    <div class="item-desc-title">
                        ФРЕЗЕРНЫЕ РАБОТЫ
                    </div>
                    <div class="item-desc-desc">
                        Фрезерные работы - это резание металла с помощью фрезы, которая совершает вращательное движение. Заготовка
                        при этом совершает поступательное движение. Производится на специальном станке - фрезерном.
                    </div>
                </div>
                <div class="item-img">
                    <img src="../../../assets/data/images/photos/frezer_3.jpeg" style="height: 250px;">
                </div>
            </div>
            <div class="item">
                <div class="item-desc">
                    <div class="item-desc-title">
                        ТЕРМООБРАБОТКА
                    </div>
                    <div class="item-desc-desc">
                        Термообработка - для придания металлическим изделиям требуемых физико-механических свойств без изменения
                        химического состава металлов.                    </div>
                </div>
                <div class="item-img">
                    <img src="../../../assets/data/images/photos/termoobrabotka.jpeg" style="height: 250px;">
                </div>
            </div>
            <div class="item">
                <div class="item-desc">
                    <div class="item-desc-title">
                        СВАРКА (ДУГОВАЯ, СВАРКА В СРЕДЕ АРГОНА И СО, КОНТАКТНАЯ)
                    </div>
                    <div class="item-desc-desc">
                        Сварка - соединения элементов с расплавлением кромок посредством теплоты электрической дуги, в среде аргона,
                        СО (углекислого газа) или придуговой сварке в газе образующемся из обмазки электрода.
            
                       </div>
                </div>
                <div class="item-img">
                    <img src="../../../assets/data/images/photos/svarka_2.jpeg" style="height: 250px;">
                </div>
            </div>
            <div class="item">
                <div class="item-desc">
                    <div class="item-desc-title">
                        АНТИКОРРОЗИЙНОЕ ПОКРЫТИЯ: ЦИНОЛ
                    </div>
                    <div class="item-desc-desc">
                        ЦИНОЛ - применяется для антикоррозионной защиты стальных изделий и сооружений, эксплуатируемых в атмосферных
                        условиях всех макроклиматических районов, типов атмосферы и категорий размещения по ГОСТ 15150-69.
                        
                       </div>
                </div>
                <div class="item-img">
                    <img src="../../../assets/data/images/photos/cinol.jpeg" style="height: 250px;">
                </div>
            </div>
            <div class="item">
                <div class="item-desc">
                    <div class="item-desc-title">
                        АНТИКОРРОЗИЙНОЕ ПОКРЫТИЯ: ЦИНОТАН
                    </div>
                    <div class="item-desc-desc">
                        ЦИНОТАН - предназначенный для антикоррозионной защиты стальных, бетонных и оцинкованных поверхностей.
                        Содержит высокодисперсный порошок цинка, уретановое связующее, органические растворители и добавки
                        вспомогательных веществ.
                        
                       </div>
                </div>
                <div class="item-img">
                    <img src="../../../assets/data/images/photos/cinotan.jpeg" style="height: 250px;">
                </div>
            </div>


            <div class="item">
                <div class="item-desc">
                    <div class="item-desc-title">
                        ГАЛЬВАНИЧЕСКОЕ ЦИНКОВАНИЕ
                    </div>
                    <div class="item-desc-desc">
                        
                        Гальваническое цинкование - это металлическая пленка толщиной от долей микрона до десятых долей миллиметра,
                        наносимые на поверхность не металлических и металлических изделий методом гальваники для придания им
                        твердости, износостойкости, антикоррозийных, антифрикционных, декоративных свойств.
                       </div>
                </div>
                <div class="item-img">
                    <img src="../../../assets/data/images/photos/cinkovanie_1.jpeg" style="height: 250px;">
                </div>
            </div>
            <div class="item">
                <div class="item-desc">
                    <div class="item-desc-title">
                        ТЕРМОДИФФУЗИОННОЕ ЦИНКОВАНИЕ
                    </div>
                    <div class="item-desc-desc">
                        
                        Термодиффузионное цинкование - обеспечивает наилучшее качество покрытия изделий из стали и чугуна, что во
                        много раз продлевая срок их эксплуатации, изделие покрывается цинком из паров при высокой температуре в
                        защитной атмосфере водорода.
                       </div>
                </div>
                <div class="item-img">
                    <img src="../../../assets/data/images/photos/cinkovanie_2.webp" style="height: 250px;">
                </div>
            </div>

            <br>
            Также изготавливаем различные детали из металла по чертежам, эскизам и по образцу заказчика. Отправляем
            продукцию в регионы, доставляем до транспортной компании.

            <br>
            <br>
            <br>


        </div>
    </div>
</div>