
<table class="table table-light custom-table-width table-hover align-middle">
    <thead>
    <tr>
        <th class="fw-20 " scope="col">#</th>
        <th class="fw-130" scope="col">Клиент</th>
        <th class="fw-100 text-center" scope="col">Продукт</th>
        <th class="fw-330 text-center" scope="col">Стандарт</th>
        <th class="fw-100 text-center" scope="col">Вес (ед.)</th>
        <th class="fw-200 text-center" scope="col">Количество</th>
        <th class="fw-200" scope="col">Стоимость</th>
        <th class="fw-100 text-center" scope="col">Дата заявки</th>
        <th class="fw-80" scope="col">Статус заявки</th>
        <th class="fw-150" scope="col">Примечание</th>
    </tr>
    </thead>
    <tbody>

        @for (item of data; track item; let i = $index) {
            <tr>
                <th class="p-1 fs-075" scope="row">{{i + 1}}</th>
                    @if (meAccount) {
                <td class="p-1 fs-090">
                        {{ meAccount.fullName }}
                </td>
                    } @else {
                <td class="p-1 fs-090">
                    Client
                </td>
                }
                <td class="p-1 fs-090 text-center">

                        {{ item.species }}

                </td>
                <td class="p-1 fs-075 text-left">
                    <p class="mb-0">
                        {{ item.steelGrade }}
                    </p>
                </td>
                <td class="p-1 fs-080 text-center">
                    {{ item.weightKg }}
                </td>
                <td class="p-1 fs-075  text-center">
                    {{ item.quantity }}
                </td>
                <td class="p-1 fs-075 text-center">
                    {{ item.price ? item.price : "нет расчета" }}
                </td>
                <td class="p-1 fs-080 text-center">
                    <p class="mb-0">
                        {{ item.createdAt | date:'dd.MM.yyyy':'Europe/Moscow' }}
                    </p>
                    <p class="mb-0">
                    </p>
                </td>
                <td class="p-1 fs-075">
                    {{ item.status }}
                </td>
                <td class="p-1 fs-090 text-primary"></td>
            </tr>
        }
    </tbody>
</table>