
<div class="main__welding">
  <div class="main__welding__wrapper">
    <div class="main__welding__wrapper__content">
      <div class="main__welding__wrapper__content__title">
        Производство и обработка металла
      </div>
      <div class="main__welding__wrapper__content__block">
        Изготовление металлоконструкций по альбомам, сериям, чертежам заказчика.
      </div>
    </div>
  </div>
</div>

<div class="main__services">
  <div class="main__services__wrapper">
    <div class="main__services__wrapper__content">
      <div class="carusel">
        <div class="carusel__title">
          Услуги
        </div>

        <div class="carusel__blocks" id="carusel">
          <div class="carusel__blocks__items" id="item-left">
            <div class="carusel__blocks__items__item" data-id="4">
              <div class="carusel__blocks__items__item__img">
                <div class="carusel__blocks__items__item__img__back" id="tokar">
                </div>
              </div>
              <div class="carusel__blocks__items__item__name">
                Токарная работа
              </div>
            </div>
            <div class="carusel__blocks__items__item" data-id="0">
              <div class="carusel__blocks__items__item__img">
                <div class="carusel__blocks__items__item__img__back" id="rezka">
                </div>
              </div>
              <div class="carusel__blocks__items__item__name">
                Резка металла
              </div>
            </div>
            <div class="carusel__blocks__items__item" data-id="1">
              <div class="carusel__blocks__items__item__img">
                <div class="carusel__blocks__items__item__img__back" id="frezer">
                </div>
              </div>
              <div class="carusel__blocks__items__item__name">
                Фрезерная работа
              </div>
            </div>
          </div>

          <div class="carusel__blocks__items" id="item-active">
            <div class="carusel__blocks__items__item" data-id="7">
              <div class="carusel__blocks__items__item__img">
                <div class="carusel__blocks__items__item__img__back" id="svarka">
                </div>
              </div>
              <div class="carusel__blocks__items__item__name">
                Сварочная работа
              </div>
            </div>
            <div class="carusel__blocks__items__item" data-id="7">
              <div class="carusel__blocks__items__item__img">
                <div class="carusel__blocks__items__item__img__back" id="gibka">
                </div>
              </div>
              <div class="carusel__blocks__items__item__name">
                Гибка металла
              </div>
            </div>
            <div class="carusel__blocks__items__item" data-id="7">
              <div class="carusel__blocks__items__item__img">
                <div class="carusel__blocks__items__item__img__back" id="rubka">
                </div>
              </div>
              <div class="carusel__blocks__items__item__name">
                Рубка металла на гильотине
              </div>
            </div>
          </div>

          <div class="carusel__blocks__items" id="item-right">
            <div class="carusel__blocks__items__item" data-id="7">
              <div class="carusel__blocks__items__item__img">
                <div class="carusel__blocks__items__item__img__back" id="valcovka">
                </div>
              </div>
              <div class="carusel__blocks__items__item__name">
                Вальцовка металла
              </div>
            </div>
            <div class="carusel__blocks__items__item" data-id="7">
              <div class="carusel__blocks__items__item__img">
                <div class="carusel__blocks__items__item__img__back" id="raspil">
                </div>
              </div>
              <div class="carusel__blocks__items__item__name">
                Распил заготовок до 300mm
              </div>
            </div>
            <div class="carusel__blocks__items__item" data-id="7">
              <div class="carusel__blocks__items__item__img">
                <div class="carusel__blocks__items__item__img__back" id="cinkovanie">
                </div>
              </div>
              <div class="carusel__blocks__items__item__name">
                Цинкование металла
              </div>
            </div>
          </div>
        </div>
        <div class="carusel__buttons">
          <div class="carusel__buttons__item" id="btn-left">
            &lt;
          </div>
          <div class="carusel__buttons__item" id="btn-right">
            &gt;
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="main__equipment">
  <div class="main__equipment__wrapper">
    <div class="text">

      <div class="text__title">ОБОРУДОВАНИЕ</div>
      <div class="text__block">
        В "ПКФ Метсервис-А" для обработки металла используется высокоточное оборудование

      </div>
    </div>
  </div>
</div>

<div class="main__products">
  <div class="main__products__wrapper">
    <div class="main__products__wrapper__content">
      <div class="carusel">
        <div class="carusel__title">
          Продукция
        </div>

        <div class="carusel__blocks" id="carusel-p">
          <div class="carusel__blocks__items" id="item-left-p">
            <div class="carusel__blocks__items__item" data-id="4">
              <div class="carusel__blocks__items__item__img">
                <div class="carusel__blocks__items__item__img__back" id="prod_1">
                </div>
              </div>
            </div>
            <div class="carusel__blocks__items__item" data-id="0">
              <div class="carusel__blocks__items__item__img">
                <div class="carusel__blocks__items__item__img__back" id="prod_2">
                </div>
              </div>
            </div>
            <div class="carusel__blocks__items__item" data-id="1">
              <div class="carusel__blocks__items__item__img">
                <div class="carusel__blocks__items__item__img__back" id="prod_3">
                </div>
              </div>
            </div>
          </div>

          <div class="carusel__blocks__items" id="item-active-p">
            <div class="carusel__blocks__items__item" data-id="7">
              <div class="carusel__blocks__items__item__img">
                <div class="carusel__blocks__items__item__img__back" id="prod_4">
                </div>
              </div>
            </div>
            <div class="carusel__blocks__items__item" data-id="7">
              <div class="carusel__blocks__items__item__img">
                <div class="carusel__blocks__items__item__img__back" id="prod_5">
                </div>
              </div>
            </div>
            <div class="carusel__blocks__items__item" data-id="7">
              <div class="carusel__blocks__items__item__img">
                <div class="carusel__blocks__items__item__img__back" id="prod_6">
                </div>
              </div>
            </div>
          </div>

          <div class="carusel__blocks__items" id="item-right-p">
            <div class="carusel__blocks__items__item" data-id="7">
              <div class="carusel__blocks__items__item__img">
                <div class="carusel__blocks__items__item__img__back" id="prod_7">
                </div>
              </div>
            </div>
            <div class="carusel__blocks__items__item" data-id="7">
              <div class="carusel__blocks__items__item__img">
                <div class="carusel__blocks__items__item__img__back" id="prod_8">
                </div>
              </div>
            </div>
            <div class="carusel__blocks__items__item" data-id="7">
              <div class="carusel__blocks__items__item__img">
                <div class="carusel__blocks__items__item__img__back" id="prod_9">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carusel__buttons">
          <div class="carusel__buttons__item" id="btn-left-p">
            &lt;
          </div>
          <div class="carusel__buttons__item" id="btn-right-p">
            &gt;
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="main__about">
  <div class="main__about__wrapper">
    <div class="text">
      <div class="text__title">О НАС</div>
      <div class="text__block">
        <p></p>
        <p style="font-size: 20px;">
          ООО "ПКФ МетСервис-А"
        </p>    
        <br>
        <p style="font-size: 18px;">
          Компания  ООО "ПКФ Метсервис-А», имея парк производственного оборудования, изготавливает и поставляет продукцию по ГОСТ, ТУ, ОСТ, ISO, DIN, производит более 10 000 наименований изделий из металлов и сплавов: фундаментные болты и металлические элементы фундаментов (ростверки, наголовники), фермы для промышленных и гражданских зданий, металлические лестницы, площадки, ограждения, шарниры, крепежи, закладные детали, штуцеры и другие метизы любых размеров и форм из различных металлов и сплавов (ст. 3, 09Г2С, 20, 35, 40Х и др., «нержавейка», латунь, бронза).
          ООО "ПКФ Метсервис-А» выполняет термообработку, термодиффузию, оцинковку, антикоррозийные покрытия: цинол, цинотан.
          Гибочное оборудование позволяет изготавливать из листового металла сложные изделия.
          На сварочном участке соединют отдельные изделия в единую деталь, что позволяет производить технически сложную продукцию.
          На токарном участке производят продукцию с большой точностью, что обеспечивает использование изделий в высокоточных конструкциях.
      </p>
      </div>
    </div>
  </div>
</div>

<div class="main__delivery">
  <div class="main__delivery__wrapper">
    <div class="text">
      <div class="text__title">Доставка</div>
      <div class="text__block">
      </div>
    </div>
    <div class="tk">
      <div class="tk__content">
        <div class="tk__content__item">
          <div class="tk__content__item__name">
            <a href="https://tk-kit.com">
              ООО “КИТ.ТК”
            </a>
          </div>
          <div class="tk__content__item__calculate">
            <a href="https://tk-kit.com/order">
              <i class="fa fa-calculator fa-4" aria-hidden="true"></i>
            </a>
          </div>
          <div class="tk__content__item__image">
            <a href="https://tk-kit.com">
              <img src="{{ obj.tk_kit}}" alt="about" srcset="">
            </a>
          </div>
        </div>

        <div class="tk__content__item">
          <div class="tk__content__item__name">
            <a href="http://expressauto.ru/">
              ТК «Экспресс-Авто»
            </a>
          </div>
          <div class="tk__content__item__calculate">
            <a href="http://expressauto.ru/autokalkulyator">
              <i class="fa fa-calculator fa-4" aria-hidden="true"></i>
            </a>
          </div>
          <div class="tk__content__item__image">
            <a href="http://expressauto.ru/">
              <img src="{{obj.tk_express}}" alt="about" srcset="">
            </a>
          </div>
        </div>

        <div class="tk__content__item">
          <div class="tk__content__item__name">
            <a href="https://www.dellin.ru/">
              ГК «Деловые Линии»,
            </a>
          </div>
          <div class="tk__content__item__calculate">
            <a href="https://www.dellin.ru/">
              <i class="fa fa-calculator fa-4" aria-hidden="true"></i>
            </a>
          </div>
          <div class="tk__content__item__image">
            <a href="https://www.dellin.ru/">
              <img src="{{obj.tk_dellin}}" alt="about" srcset="">
            </a>
          </div>
        </div>

        <div class="tk__content__item">
          <div class="tk__content__item__name">
            <a href="https://www.baikalsr.ru/">
              ТК «Байкал Сервис»
            </a>
          </div>
          <div class="tk__content__item__calculate">
            <a href="https://request.baikalsr.ru/calculator/">
              <i class="fa fa-calculator fa-4" aria-hidden="true"></i>
            </a>
          </div>
          <div class="tk__content__item__image">
            <a href="https://baikalsr.ru/">
              <img src="{{obj.tk_baikalsr}}" alt="about" srcset="">
            </a>
          </div>
        </div>

        <div class="tk__content__item">
          <div class="tk__content__item__name">
            <a href="https://www.jde.ru/">
              ГК «ЖелДорЭкспедиция»
            </a>
          </div>
          <div class="tk__content__item__calculate">
            <a href="https://www.jde.ru/online/calculator.html">
              <i class="fa fa-calculator fa-4" aria-hidden="true"></i>
            </a>
          </div>
          <div class="tk__content__item__image">
            <a href="https://www.jde.ru/">
              <img src="{{ obj.tk_jde }}" alt="about" srcset="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main__contacts">
  <div class="main__contacts__wrapper">
    <div class="text">
      <div class="text__title">КОНТАКТЫ</div>
      <div class="text__block" style="font-size: 18px;">
        <p>
          ООО "ПКФ МетСервис-А"
      </p>                
              ИНН/КПП 6679128322/667901001   
          <br>
          <br>
          Юридический адрес:
          <br>
          623380, Свердловская область, г. Полевской, мк. Черемушки 18-3
          <br>
          Фактический адрес:
          <br>
          620024, Свердловская обл., Екатеринбург г., пер. Саранинский, д. 9,  оф 210
          <br>
          Почтовый адрес:
          <br>
          620024, Свердловская обл., Екатеринбург г., пер. Саранинский, д. 9,  оф 210
          <br>
          <br>
          <br>
          
          Наши телефоны:
          <div class="block__wrapper">
            <div class="block__wrapper__line">
              <a href="tel:+73432887972">+7 (343) 288 79 72</a>
            </div>
            <div class="block__wrapper__line">
              <a href="tel:+73432958586">+7 (343) 295 85 86</a>
            </div>
          </div>
          
          <br>
          
          Наша электронная почта:
          <br>
          <a href="mailto:a131010@mail.ru">a131010@mail.ru</a>
          <br>
      </div>
    </div>
  </div>
</div>