$gray: #999999;
$gray-light: #dadada;
$orange: #FF5C00;
$blue: #2755ff;
$violet: #7042fa;
$max-width: 1400px;
$width: 90vw;
$size-title: 3em;

$color-light-xl: #FFFFFF;
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;


body {
  font-family: 'Open Sans', sans-serif;
  background-color: #000;
}

#root {
  width: auto;
  height: auto;
}

section {
  width: 100%;
}

.main {
  &__welding {
    height: 90vh;
    background-image: url('../../../assets/data/images/photos/svarka_5.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    color: $gray-light;

    &__wrapper {
      width: $width;
      max-width: $max-width;
      margin: 0 auto;
      height: 100%;

      &__content {
        height: 100%;
        display: flex;
        padding-top: 20vh;
        flex-direction: column;
        width: 800px;

        &__title {
          font-size: $size-title;
          margin-bottom: 3vh;
        }

        &__block {
          font-size: 1.5em;
        }
      }
    }
  }

  &__services {
    background-color: $blue;
    height: 34vw;

    &__wrapper {
      width: $width;
      max-width: $max-width;
      margin: 0 auto;
      height: 100%;

      &__content {
        width: auto;
        height: 100%;
      }
    }
  }

  &__equipment {
    background-image: url('../../../assets/data/images/photos/equipment_3.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    color: #FFF;
    height: 60vh;

    &__wrapper {
      width: $width;
      max-width: $max-width;
      margin: 0 auto;

    }

  }

  &__products {
    background-color: $orange;
    height: 33vw;

    &__wrapper {
      width: $width;
      max-width: $max-width;
      margin: 0 auto;
      height: 100%;

      &__content {
        height: 100%;
        & .carusel__buttons__item:hover {
          background-color: $blue;
        }
      }
    }

  }

  &__about {
    background-image: url('../../../assets/data/images/photos/about_1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    color: #FFF;
    height: 60vh;
    min-height: 500px;

    &__wrapper {
      width: $width;

      max-width: $max-width;
      margin: 0 auto;
    }
  }

  &__delivery {
    background-color: $violet;
    height: 65vh;
    min-height: 460px;
    &__wrapper {
      width: $width;

      max-width: $max-width;
      margin: 0 auto;
    }

  }

  &__contacts {
    background-image: url('../../../assets/data/images/photos/equipment_6.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    color: #FFF;
    height: 80vh;
    min-height: 500px;

    &__wrapper {
      width: $width;
      max-width: $max-width;
      margin: 0 auto;
      
    }
    
  }
  &__wrapper {
    background-color: #fff;
    width: 100%;
    &__content {
      width: $width;
      max-width: $max-width;
      margin: 0 auto;
      color: $gray;
      &__header {
        color: #000;
        display: flex;
        justify-content: center;
        h1 {
          margin-top: 5px;
        }
      }
      &__description {
        color: #000;
        max-width: 1400px;
        width: 100%;
        text-align: justify;
        font-size: 1.3rem;
        img {
          float: right;
          margin-left: 10px;
          height: 600px;
        }
        &__why {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          &__item {
            box-sizing: border-box;
            width: 30%;
            font-size: 1.1rem;
            padding: 20px;
            &__title {
              font-weight: 900;
              margin-bottom: 10px;
              text-align: center;
            }
            &__desc {
              font-weight: 300;

            }
          }
        }
        &__clients {
          text-align: center;
        }
        &__fakt {

          text-align: left;
          display: flex;
          box-sizing: border-box;

          &__item {
            max-width: 250px;
            padding: 0 20px;
          }
        }
      }
      &__prod {
        display: flex;
        flex-direction: column;
        &__nav {
          background-color: #000;
          width: 22%;
          height: max-content;
          ul {
            margin: 0;
            padding: 0;
          }

          li {
            text-align: center;
            cursor: pointer;
            list-style-type: none;
            font-size: 1.5rem;
            font-weight: 500;
            padding: 5px 10px;
            border: 2px solid $gray;
            color: $gray;

            &:hover {
              color: $orange;
              background-color: $gray;
            }
            &.active {        
              color: $orange;
            }
          }
        }

        &__description {
          color: #000;
          width: 100%;
          text-align: justify;
          font-size: 1.3rem;

          img {
            float: right;
            margin-left: 10px;
            height: 600px;
          }
        }
        &__header {
          display: flex;
          justify-content: center;

          h1 {
            margin-top: 5px;
          }
        }
        &__cards {
          display: flex;
          justify-content: space-evenly;
          align-items: flex-start;
          flex-wrap: wrap;
          color: #000;
          background-color: #FFF;

          &__item {
            margin: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 35%;
            font-size: 1.2rem;

            img {
              height: 180px;
            }
          }
        }
      }
      &__component {
        background-color: #FFF;
        display: flex;
        flex-direction: column;
        color: #000;
        &__title {
          text-align: center;
          font-size: 1.5rem;
          margin: 20px 0;
        }
        &__gost {
          & > p {
            margin: 0 50px;
            font-weight: 700;
          }
          & > .gost {
            cursor: pointer;
            transition: all 0.8s;
          }
          & > .gost:hover {
            transform: scale(1.02);
          }
        }
        &__desc {
          margin: 0 50px;
          & > p {
            margin: 10px 0;
            text-indent: 1cm;
            text-align: justify;
          }
        }
        &__images {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          gap: 30px;
          margin: 80px;
          &__item {
            & > img {
              height: 200px;
            }
          }
        }
      }
    }
  }
}

#tokar {
  background-image: url('../../../assets/data/images/photos/tokar_1.jpeg');
}
#rezka {
  background-image: url('../../../assets/data/images/photos/rezka_1.jpeg');
}
#frezer {
  background-image: url('../../../assets/data/images/photos/frezer_1.jpeg');
}
#gibka {
  background-image: url('../../../assets/data/images/photos/gibka_1.jpeg');
}
#rubka {
  background-image: url('../../../assets/data/images/photos/rubka_1.jpeg');
}
#raspil {
  background-image: url('../../../assets/data/images/photos/raspil_1.jpeg');
}
#valcovka {
  background-image: url('../../../assets/data/images/photos/valcovka_1.jpeg');
}
#svarka {
  background-image: url('../../../assets/data/images/photos/svarka_3.jpeg');
}
#cinkovanie {
  background-image: url('../../../assets/data/images/photos/cinkovanie_1.jpeg');
}
#prod_1 {
  background-image: url('../../../assets/data/images/prod/001.jpg');
}
#prod_2 {
  background-image: url('../../../assets/data/images/prod/002.jpg');
}
#prod_3 {
  background-image: url('../../../assets/data/images/prod/003.jpg');
}
#prod_4 {
  background-image: url('../../../assets/data/images/prod/004.jpg');
}
#prod_5 {
  background-image: url('../../../assets/data/images/prod/005.jpg');
}
#prod_6 {
  background-image: url('../../../assets/data/images/prod/006.jpg');
}
#prod_7 {
  background-image: url('../../../assets/data/images/prod/007.jpg');
}
#prod_8 {
  background-image: url('../../../assets/data/images/prod/008.jpg');
}
#prod_9 {
  background-image: url('../../../assets/data/images/prod/009.jpg');
}

.carusel {
  height: 91%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  color: $gray-light;
  &__title {
    align-self: flex-start;
    font-size: 3vw;
  }
  &__blocks {
    display: flex;
    position: relative;
    width: 1400px;
    left: -1400px;
    &__items {
      left: 0;
      position: relative;
      display: flex;
      gap: 70px;
      &__item {
        cursor: pointer;
        width: 420px;
        height: 21vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        &__img {
          float: left; 
          width: 100%; 
          height: 85%; 
          position: relative;
          &__back {
            float: left; 
            width: 100%; 
            height: 100%; 
            position: absolute; 
            left: 0; 
            top: 0; 
            background-size: cover !important; 
            background-position: center center;
          }
        }
        &__name {
          font-size: 1.6vw;
        }
        &:hover > &__name{
          color: $orange;
        }
      }
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    gap: 30px;
    &__item {
      cursor: pointer;
      color: $gray;
      border: 2px solid $gray;
      border-radius: 50px;
      height: 52px;
      width: 52px;
      margin: 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;
      &:hover {
        background-color: $orange;
      }
    }
  }

}

.text {
  height: 100%;
  display: flex;
  padding-top: 10vh;
  flex-direction: column;
  width: 800px;

  &__title {
    font-size: $size-title;
    margin-bottom: 3vh;
  }

  &__block {
    font-size: 1.5em;
  }
}
.main__about__wrapper .text__block {
  font-size: 1em;
}
.main__contacts__wrapper .text__block {
  font-size: 1em;
}
.main__delivery__wrapper .text__title {
  margin-bottom: 1vh;
}
.main__delivery__wrapper .text {
  padding-top: 1vh;
  color: #CDCDCD;
}


@keyframes to-left {
  from {
    left: -1400px;
  }

  to {
    left: 0;
  }
}

@keyframes to-right {
  from {
    left: -1400px;
  }

  to {
    left: -2800px;
  }
}

.transition-right {
  animation-name: to-right;
  animation-duration: 2s;
}

.transition-left {
  animation-name: to-left;
  animation-duration: 2s;
}

a {
  text-decoration: none;
  color: #FFFFFF;

}

header {
  width: $width;
  max-width: $max-width;
  min-height: 5em;
  margin: 0 auto;
  color: $gray;
  background-color: #000;

  a {
    color: $gray;
  }

  .header {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
      cursor: pointer;
      display: flex;
      align-items: center;

      &__img {
        img {
          height: 5em;
        }
      }

      &__block {
        display: flex;
        flex-direction: column;
        padding-left: 2em;

        &__name {
          font-size: 2em;
          font-weight: 600;
        }

        &__nav {
          display: flex;
          display: flex;
          font-size: 1em;
          font-weight: 500;

          li {
            cursor: pointer;
            margin-right: 2em;
            list-style-type: none;

            &.active {
              color: #FF5C00;
            }

            &:hover {
              color: $orange;
            }
          }
        }

      }
    }

    &__order {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__tel {
        font-size: 1em;

        span {
          display: block;
        }
      }

      &__btn {
        margin: 0 20px;

        button {
          background-color: #000;
          border-radius: 5px;
          cursor: pointer;
          font-size: 1em;
          font-weight: 600;
          border: 2px solid $gray;
          padding: 1em;
          color: $gray;

          &:hover {
            background-color: $gray;
            color: $orange;
          }
        }
      }
    }
  }
}
footer {
  width: $width;
  max-width: $max-width;
  min-height: 5em;
  margin: 0 auto;
  color: $gray;
  background-color: #000;

  .footer {
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: $gray;
    
    .block1 {
      width: 30%;
    }
    
    .block2 {
      width: 20%;
    }
    
    .block3 {
      width: 50%;
    }
    
    .block {
      &__logo {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: left;
        
        &__img {
          img {
            height: 60px;
          }
        }
        
        &__name {
          margin-left: 2vw;
          font-size: 1.2rem;
          font-weight: 600;
        }
      }
      
      &__right {
        font-size: 0.9rem;
      }
      
      &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 2vw;
        
        &__line {
          margin-bottom: 0.5vw;
          font-size: 0.9rem;
          
          a {
            color: $gray;
            text-decoration: none;
          }
          
          &__address {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}

.tk {
  &__content {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;

      &__image>a>img {
        cursor: pointer;
        height: 50px;
        transition: all 0.6s;
      }

      // &__image>a>img:hover {
      //   transform: scale(2);
      // }

      &__name {
        width: 400px;
        cursor: pointer;
        font-size: 2rem;

        &>a {
          color: #000;
        }
      }

      &__calculate {
        position: relative;

        i {
          color: $gray;
          font-size: 2rem;
          transition: all 0.6s;

          &:hover {
            color: #FFF;
            transform: scale(2);
          }
        }
      }
    }
  }
}

.discussion {
  margin: 50px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__title {
    font-size: 1.5rem;
    color: $orange;
  }

  &__tel {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &__items {
      display: flex;
      align-items: center;
      gap: 20px;
      color: #000;

      &>img {
        height: 20px;
      }
    }
  }

  &__mail {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #000;
    font-size: 1.5rem;

    &>a>img {
      height: 20px;
    }
  }

  &__address {
    margin: 20px 0;
    display: flex;
    flex-direction: column;

    &>a {
      color: #000;
    }
  }
}

