<form

  class="login-form"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <h1 class="h1 mb60">Вход</h1>
  <label class="control-label mb16">
    Login
    <input
      formControlName="email"
      class="control-input"
      type="text"
      placeholder="Введите логин"
    >
<!--    <p class="modal__validator"-->
<!--       *ngIf="email?.errors?.email && email?.touched"-->
<!--    >Incorrect input Email</p>-->
  </label>
  <label class="control-label mb32">
    Password
    <input
      formControlName="password"
      class="control-input"
      type="password"
      placeholder="Введите пароль"
    >
<!--    <p class="modal__validator"-->
<!--       *ngIf="password?.errors?.minlength && password?.touched"-->
<!--    >Min length 6 characters</p>-->
  </label>

  <button class="btn btn-shadow" type="submit">Войти</button>
</form>

<img src="/assets/images/logo.svg" alt="logo">


