<form
  class="modal__form"
  [formGroup]="form"
  (ngSubmit)="submit()"
>
  <input type="text" id="email" formControlName="email" class="modal__input" placeholder="email" appFocus>
  <p class="modal__validator"
     *ngIf="email.errors?.email && email.touched"
  >Incorrect input Email</p>

  <input type="password" id="password" formControlName="password" class="modal__input" placeholder="password">
  <p class="modal__validator"
     *ngIf="password.errors?.minlength && password.touched"
  >Min length 6 characters</p>

  <button class="modal__button" type="submit">Зарегистрирповаться</button>

</form>
